.users__dialog__list {
    position: relative;
    padding-left: 30px;
    width: 180px;
}

.users__dialog__item {
    width: 50%;
    position: relative;
    display: flex;
    /* justify-content: space-between; */
}

.users__dialog__ava{
    margin-right: 10px;
}
.users__dialog__item {
    margin-bottom: 20px;
    
}
.users__dialog__item a{
    color: black;
}
.users__dialog__item:last-child {
    margin-top: 0;
    
}

.users__dialog__list{
    border-right: 2px solid rgb(13, 59, 33);
}
.active{
    font-size: 40px;
}

ul li{
    list-style: none;
}
.dialogs__header{
    margin-bottom: 20px;
}