
 .friends__wrapper{
    /* background-color: yellow; */
    /* border: 1px solid black; */
    display: flex;
    flex-wrap: wrap;
    width: 200px;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
}

.friends__header{
    font-size: 30px;
    color: white;
    font-weight: 100;
    margin-bottom: 15px;
}
.friend__name{
    width: 30%;
    color: white;
    text-align: center;
}